@media (min-width: 1024px) {
  .escolhido {
    display: flex;
    position: absolute;
    width: 100%;
    height: 85%;
    top: 15%;

    .fotos {
        display: flex;
        position: relative;
        width: 50%;
        height: 60%;
        left: 7.5%;
        align-items: center;
        justify-content: center;

        .proximo {
            display: flex;
            position: absolute;
            width: 4vw;
            height: 25vw;
            right: 0vw;
            background-color: rgba(128,128,128,.4);
            border-top-right-radius: .75vw;
            border-bottom-right-radius: .75vw;
        }
    
        .voltar {
            display: flex;
            position: absolute;
            width: 4vw;
            height: 25vw;
            left: 0vw;
            background-color: rgba(128,128,128,.4);
            border-top-left-radius: .75vw;
            border-bottom-left-radius: .75vw;
        }
    
        .voltar:hover,
        .proximo:hover {
            transform: scale(1.05);
        }

        img {
            display: flex;
            position: absolute;
            width: 40vw;
            height: 25vw;
        }
    }

    .dados {
        display: flex;
        position: relative;
        width: 32.5%;
        height: 60%;
        left: 10%;
        align-items: center;
        justify-content: center;
        background-color: #aeaeae;
        border-radius: .75vw;
        overflow: hidden;

        .inicio {
            display: flex;
            position: absolute;
            width: 100%;
            height: 6vw;
            left: 0vw;
            top: 0vw;
            align-items: center;
            justify-content: center;

            img {
                display: flex;
                position: absolute;
                width: 5vw;
                height: 5vw;
                border-radius: 50%;
                left: 1vw;
                top: .8vw;
            }

            h1 {
                display: flex;
                position: absolute;
                width: 80%;
                right: 0vw;
                bottom: 1vw;
                font-size: 2.5vw;
                font-weight: bold;
                align-items: center;
                justify-content: center;
                overflow: hidden;
            }

            h2 {
                display: flex;
                position: absolute;
                width: 80%;
                height: 3vw;
                right: 0vw;
                top: 2.5vw;
                font-size: 1vw;
                font-weight: normal;
                align-items: center;
                justify-content: center;
                overflow: hidden;
                text-align: center;
            }
        }

        .metade1 {
            display: flex;
            position: absolute;
            width: 51%;
            height: 70%;
            left: 0;
            top: 7.6vw;
            border-right: solid .1vw black;
            align-items: center;
            justify-content: center;

            .titulo {
                display: flex;
                position: absolute;
                top: 0vw;
                font-size: 1.3vw;
            }

            .horarios {
                display: flex;
                position: absolute;
                flex-direction: column;
                width: 90%;
                height: 90%;
                top: 1.8vw;
                align-items: center;
                justify-content: center;

                .hora {
                    display: flex;
                    position: relative;
                    width: 100%;
                    height: auto;
                    align-items: center;
                    justify-content: space-between;
                    margin-bottom: .35vw;
                }

                .fechado {
                    color: red;
                }
            }
        }

        .metade2 {
            display: flex;
            position: absolute;
            flex-direction: column;
            width: 48.5%;
            height: 69%;
            right: 0;
            top: 7.6vw;
            align-items: center;
            justify-content: space-between;
            overflow: hidden;
            
            .abas {
                display: flex;
                position: relative;
                width: 100%;
                height: 100%;
                align-items: center;
                justify-content: center;

                .titulo {
                    display: flex;
                    position: absolute;
                    top: 0vw;
                    font-size: 2vw;
                }

                .telefone {
                    display: flex;
                    position: absolute;
                    width: 2vw;
                    height: 2vw;
                    top: 3.5vw;
                    left: .5vw;
                }

                .desc {
                    display: flex;
                    position: absolute;
                    width: 80%;
                    height: 60%;
                    color: black;
                    font-size: 1vw;
                    top: 2.75vw;
                    left: 2.8vw;
                    overflow: hidden;
                    align-items: center;
                    justify-content: center;
                    text-align: center;
                }

                .desc2 {
                    display: flex;
                    position: absolute;
                    color: black;
                    font-size: 1.5vw;
                    top: 3.25vw;
                    left: 2.8vw;
                }

                .abaava {
                    display: flex;
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    align-items: center;
                    justify-content: center;

                    .qtdava {
                        display: flex;
                        position: absolute;
                        left: 2.7vw;
                        bottom: 1.25vw;
                        font-size: 1vw;
                        font-family: cursive;
                    }

                    .textava {
                        display: flex;
                        position: absolute;
                        right: .5vw;
                        bottom: 1.25vw;
                        font-size: 1vw;
                    }

                    .estrela {
                        display: flex;
                        position: absolute;
                        width: 2vw;
                        height: 2vw;
                        bottom: 1vw;
                        left: .5vw;
                        }
                    }
                }
            }
        }

        .paginagendamentos {
            display: flex;
            position: absolute;
            flex-direction: column;
            width: 85%;
            height: auto;
            top: 26vw;
            left: 7.5%;
            background-color: #aeaeae;
            border-radius: .75vw;
            overflow: hidden;

            .abas {
                display: flex;
                position: relative;
                align-items: center;
                justify-content: space-between;
                flex-wrap: wrap;
                color: black;

                .titulo {
                    display: flex;
                    position: relative;
                    width: 100%;
                    height: 1vw;
                    top: 1vw;
                    left: 1vw;
                    font-size: 2vw;
                    font-weight: bold;
                }

                .produto {
                    display: flex;
                    position: relative;
                    width: 48%;
                    height: 10vw;
                    top: 3.5vw;
                    margin-bottom: 1%;
                    border-bottom: solid 1px white;

                    .nome {
                        display: flex;
                        position: absolute;
                        top: .5vw;
                        left: 1vw;
                        font-size: 1.2vw;
                        font-weight: bold;
                    }

                    .descp {
                        display: flex;
                        position: absolute;
                        width: 30vw;
                        height: 4.5vw;
                        top: 2.2vw;
                        left: 1vw;
                        font-size: .6vw;
                        overflow: hidden;
                    }

                    .abaagendar {
                        display: flex;
                        position: absolute;
                        width: 10vw;
                        height: 100%;
                        right: 0vw;
                        align-items: center;
                        justify-content: center;

                        .valor {
                            display: flex;
                            position: absolute;
                            width: 100%;
                            height: 2vw;
                            top: 2vw;
                            align-items: center;
                            justify-content: center;
                            font-size: 1.2vw;
                            overflow: hidden;
                            font-family: cursive;
                        }

                        .agendar {
                            display: flex;
                            color: white;
                        }

                        .agendar:hover {
                            transform: scale(1.2);
                        }
                    }
                }

                .finalizaraba {
                    display: flex;
                    position: relative;
                    width: 100%;
                    height: 5vw;
                }
            }
        }
    }
}