.conta {
  display: flex;
  position: absolute;
  width: 20vw;
  height: 25vw;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  background-color: #E2E2B6;
  align-items: center;
  justify-content: center;
  border-radius: .5vw;
  color: #000000;

  .titulo {
    display: flex;
    position: absolute;
    top: 2vw;
    font-size: 2vw;
    font-weight: normal;
  }

  .desc {
    display: flex;
    position: absolute;
    width: 15vw;
    height: 5vw;
    top: 5vw;
    font-size: .8vw;
    font-weight: normal;
    text-align: center;
    overflow: hidden;
  }

  .fechar {
    display: flex;
    position: absolute;
    width: 1vw;
    height: 1vw;
    right: 1.5vw;
    top: 1.5vw;
    background-image: url("../../assets/botao-fechar.png");
    background-position: center;
    background-size: 1vw;
  }

  .fechar:hover {
    transform: scale(1.1);
    background-image: url("../../assets/botao-fechar-vermelho.png");
  }

  .aba {
    display: flex;
    position: absolute;
    width: 15vw;
    height: 10vw;
    top: 10vw;

    .email {
      display: flex;
      position: absolute;
      width: 14.5vw;
      height: 2vw;
      padding: .5vw;
      border-radius: .25vw;
      border: none;
    }

    .senha {
      display: flex;
      position: absolute;
      width: 14.5vw;
      height: 2vw;
      top: 4vw;
      padding: .5vw;
      border-radius: .25vw;
      border: none;
    }

    .confirmar {
      display: flex;
      position: absolute;
      width: 15.5vw;
      height: 3vw;
      bottom: -2vw;
      border-radius: .25vw;
      border: none;
      align-items: center;
      justify-content: center;
      color: white;
    }

    .confirmar:hover {
      transform: scale(1.1);
    }
  }
}